PORT=3001
HAPPYROBOT_API_KEY=
HAPPYROBOT_WORKFLOW_ID=
HAPPYROBOT_ENV=development
FMCSA_API_KEY=
API_INTERNAL_KEY=
API_PUBLIC_KEY=
CORS_ALLOWED_ORIGINS=http://localhost:5173
ENABLE_SEED_CARRIER_FALLBACK=true
